# directory aliases
alias la='ls -A'
alias l='ls -CF'
alias ll='ls -lah'
alias lt='tree -h $1'

# terraform aliases
alias tfaa='terraform apply --auto-approve'
alias tfad='terraform apply -destroy --auto-approve'

# certificate handling aliases
alias showcert='openssl x509 -text -in #1'

# git aliases
alias gs='git status'
alias gc='git commit'
alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'

# better commands
#add ASN information for tracerouting
alias tracert='tracerout -A whois.radb.net'

#ping commands for the impatient
#alias ping='ping -c 3 -t 1'
#alias pingc='ping'

#continuously monitor top five processes that are running
alias watch5='while :; do clear; ps aux -c | head -6; sleep 1; done'
alias top5='ps aux -c | head -6'

#avoid having to open GUI for enable/disable wifi
alias wifi_off='networksetup -setairportpower en0 off'
alias wifi_on='networksetup -setairportpower en0 on'
alias wifi_stat="networksetup -getairportpower $(system_profiler SPAirPortDataType | awk -F: '/Interfaces:/{getline; print $1;}') && networksetup -getinfo Wi-Fi"
alias net_off='networksetup -setnetworkserviceenabled "Thunderbolt Ethernet Slot 0 off"'
alias net_on='networksetup -setnetworkserviceenabled "Thunderbolt Ethernet Slot 0 on"'
alias net_stat='networksetup -getnetworkserviceenabled "Thunderbolt Ethernet Slot 0" && networksetup -getinfo "Thunderbolt Ethernet Slot 0"'
alias net_stats='echo "##### Wifi Status #####" && wifi_stat && echo " " && echo "##### Wired Status #####" && net_stat'

#ip discovery
alias myip='curl wtfismyip.com/json'

#flush DNS cache
alias flushDNS='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'

#lsusb equivalent from linux
alias lsusb='ioreg -p IOUSB -l -b | grep "+-o"'

#homebrew updates
alias brewme='brew update && brew upgrade'

#edit motd
alias vimotd='cd ~/.motd/ && vi motd-msg'

#edit espanso matches
alias viespanso='code ~/Library/Application\ Support/espanso'
