[user]
  name = gkrafty
  email = gabriel.kraft@gmail.com
  #signingkey = xxxx
[url "https://"]
  insteadOf = git://
[init]
  defaultBranch = main
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[web]
  browser = google-chrome
[credential]
#  helper = osxkeychain
#  helper = "/usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret"
#  helper = store
[push]
  default = simple
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[alias]
  # branching
  b = branch -v                           # branch (verbose)

  # commiting
  c = commit                              # commit
  ca = commit -a                          # commit all
  cm = commit -m                          # commit with message
  cam = commit -am                        # commit all with message

  # diffing
  d = diff                                # diff unstaged changes
  dc = diff --cached                      # diff staged changes

  # checking out
  co = checkout                           # checkout
  nb = checkout -b                        # create and switch to new branch

  # logging
  l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit

  # rebasing
  rc = rebase --continue                   # continue rebase
  rs = rebase --skip                       # skip rebase

  # statusing
  s = status                               # status
  st = status                              # status
  stat = status                            # status
[pull]
  rebase = true
[commit]
  # gpgsign = true
[branch]
  automerge = true
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = matching
